{% extends "base.html" %}
{% block title %}Particle explorer · cryoDRGN{% endblock %}
{% from "_macros.html" import nav_page_title_span %}
{% from "_palette_options.html" import continuous_palette_options %}
{% block nav_page_title %}{{ nav_page_title_span("Particle explorer") }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cryo_cc_legend_palette_menu.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/particle_explorer.css') }}"/>
{% endblock %}
{% block content %}
<!-- === Particle explorer: controls + Plotly scatter + optional montage / volumes === -->
<div class="cryo-dash-page cryo-dash-page--image-viewer cryo-dash-page--particle-explorer">
<div class="cryo-dash-row">
  {% include "_particle_explorer_scatter.html" %}

  {% include "_particle_explorer_montage.html" %}
</div>
{% include "_selection_save_modal.html" %}
</div>

{% include "_covariate_pkl_loader.html" %}

<script src="{{ url_for('static', filename='js/cryo_cc_legend_primitives.js') }}"></script>
<script src="{{ url_for('static', filename='js/color_covariate_legend.js') }}"></script>
<script src="{{ url_for('static', filename='js/covariate_pkl_loader.js') }}"></script>
<script src="{{ url_for('static', filename='js/cryo_covariate_selects.js') }}"></script>
<script>
(function() {
{% include "_particle_explorer_scatter_panels_cache.html" %}
{% include "_particle_explorer_scatter_color_filters.html" %}
{% include "_particle_explorer_montage_paint_selection.html" %}
{% include "_particle_explorer_montage_load_save.html" %}
{% if explorer_gif_recorder %}
{% include "_particle_explorer_gif_recorder_hooks.html" %}
{% endif %}
})();
</script>
{% endblock %}
