name: Release

on:
  push:
    branches: [ master ]
    tags:
      - '*'

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Upgrade setuptools/build
        run: |
          pip3 install wheel --upgrade
          pip3 install setuptools --upgrade

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Release to pypi
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}

        run: |
          python -m pip install --upgrade build
          python -m build .
          python -m pip install --upgrade twine
          twine upload dist/*
